<!-- Copyright 2018 Victor Meyer All rights reserved. -->

<!doctype html>
<html lang="en" ng-app="trello">
<head>
	<title>Trello Demo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Trello Demo" />
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
	<link type="text/css" href="includes/style.css" rel="stylesheet" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.19.0/sortable.js"></script>
	<script src="includes/app.js"></script>
</head>
<body ng-controller="Boards">

<main>

	<nav>
		<h2>Boards</h2>
		
		<!-- board add -->
		<br />
		<button ng-click="addBoard()">Add Board</button>
		
		<!-- board listing -->
		<ul>
			<li class="navBoard" ng-repeat="board in boards" ng-bind="board.name" ng-click="changeBoard($index)"></li>
		</ul>
	</nav>
	
	<section>
	
		<div ng-show="errorMessage" class="error" ng-click="errorMessage = ''">
			Error - {{errorMessage}}
		</div>
	
		<div class="listbox">
		
			<!-- board edit -->
			<h1 ng-bind="boards[boardIndex].name" ng-hide="boards[boardIndex].edit" ng-click="editBoard(boards[boardIndex])"></h1>
			<form ng-show="boards[boardIndex].edit">
				<input type="text" ng-model="boards[boardIndex].tmp" placeholder="New Board" />
				<button ng-click="saveBoard(boards[boardIndex])">Save</button>
				<button ng-click="cancelBoard(boards[boardIndex])">Cancel</button>
			</form>
		
			<!-- list add -->
			<br />
			<button ng-click="addList()">Add List</button>
			
		</div>
	
		<div ng-repeat="list in boards[boardIndex].lists" class="list">
		
			<!-- list edit -->
			<h3 ng-bind="list.name" ng-hide="list.edit" ng-click="editList(list)"></h3>
			<form ng-show="list.edit">
				<input type="text" ng-model="list.tmp" placeholder="New List" />
				<button ng-click="saveList(list)">Save</button>
				<button ng-click="cancelList(list)">Cancel</button>
			</form>
			
			<!-- card add -->
			<br />
			<button ng-click="addCard($index)">Add Card</button>
			
			<!-- card listing -->
			<ul class="cardListing" ng-model="list.cards" ui-sortable="sortableOptions">
				<li class="card" ng-repeat="card in list.cards">
				
					<!-- card edit -->
					<span ng-bind="card.name" ng-hide="card.edit" ng-click="editCard(card)"></span>
					<form ng-show="card.edit">
						<input type="text" ng-model="card.tmp" placeholder="New Card" />
						<button ng-click="saveCard($parent.$index, card)">Save</button>
						<button ng-click="cancelCard($parent.$index, card)">Cancel</button>
					</form>
				</li>
			</ul>
		
		</div>
	
	</section>

</main>

</body>
</html>
