
/* general */
body {
	font: 100% 'Open Sans', sans-serif;
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;
    background-position: center;
}

input {
	clear: both;
	display: block;
	padding: 10px;
	border: 0;
	border-bottom: 1px solid #c3c3c3;
	background: hsla(100, 100%, 100%, 0.0);
}

button {
	font-size: 80%;
	color: #fff;
	cursor: pointer;
	width: 80px;
	padding: 2px;
	border-radius: 5px;
	border: 1px solid #c0c0c0;
	background: hsla(10, 10%, 10%, 0.5);
}

h1, h2, h3 {
	display: inline-block;
	color: #808080;
	text-shadow: 1px 1px #fff;
	clear: both;
}

.error {
	text-align: center;
	padding: 5px;
	border-radius: 15px;
	color: #fff;
	background: hsla(10, 100%, 50%, 0.8);
}

/* navigation */
nav {
	width: 200px;
	float: left;
	margin: 0;
	padding: 0;
}

nav > ul {
	margin: 0;
	padding: 0;
    list-style-type: none;
}

.navBoard {
	border: 1px solid #c0c0c0;
	border-radius: 15px;
	padding: 15px;
	margin: 15px;
	width: 120px;
	cursor: pointer;
	text-align: center;
	background: hsla(100, 100%, 100%, 0.6);
}

/* boards/lists/cards */
section {
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: flex-start;
	flex: 1;
	overflow-x: auto;
	margin: 0;
	padding: 0;
}

.list {
	vertical-align: top;
	display: inline-block;
	width: 300px;
	padding: 15px;
	margin: 15px;
	border: 1px solid #c0c0c0;
	border-radius: 15px;
	background: hsla(100, 100%, 100%, 0.6);
}

.cardListing {
	padding: 0;
    list-style-type: none;
}

.card {
	width: 90%;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	cursor: move;
	background: hsla(100, 100%, 100%, 0.5);
}

.card:hover {
	background: hsla(100, 100%, 100%, 0.8);
}
